@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins';
   

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 600px;
   
}

html{
    background-color: rgba(243, 240, 237, 0.715);
    
}
nav {

    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    width: 100%;
    box-shadow: 0 4px 30px rgba(151, 147, 147, 0.1);
}
nav ul {
    float: right;
    margin-right: 100px;
    font-size: 20px;
    margin-top: 20px;

}

nav ul li {
    display: inline;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(254, 253, 253);
    font-size: 22px;
    padding: 30px 30px;
    border-radius: 3px;
    text-decoration: none;
}
nav ul li a:hover{
    color: #1673ff;
}
.main{
    background-size: cover;
    height: auto;

}
.main img{
    max-width: 78%;
    margin-left: 209px;
    margin-right: 90px;
}
.university{
    background-size: cover;
    margin-top: 70px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;

}
.university img{
    max-width: 90%;
    margin-right: 200px;
    margin-top: 70px;
}
.university span{
    color: #161212;
    margin-top: 20px;
    font-size: 16px;
    padding-right: 50px;
    float: left;    
}

.events{
    text-align: center;
    font-size: 100px;
    margin-top: 70px;
    margin-bottom: 40px;
}
.h1-inq{
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#footer {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left, .right {
    flex: 1;
  }
  
  .social-icons a {
    color: #333;
    margin-right: 10px;
  }
  
  .social-icons a:hover {
    color: #0076f5;
  }
  .square1{
    background-color: #fffff1;
      width: 240px;
      height: 200px;
      border-radius: 20%;
      margin-left: 200px;
      margin-top: 40px;
      margin-bottom: 90px;
      padding-bottom: 90px;
  }
  .call{
    width: 30%;
    margin-top: 40px;
    margin-left: 90px;
    border-radius: 50%;
  }
  .number2{
    margin-left: 70px;
    color: #161212;
    text-decoration: dashed;
  }
  .square2{
    background-color: #dcedff;
      width: 240px;
      height: 200px;
      border-radius: 20%;
      margin-left: 200px;
      margin-top: 40px;
      margin-bottom: 90px;
      padding-bottom: 90px;
  }
  .email{
    width: 30%;
    margin-top: 40px;
    margin-left: 90px;
    
  }
  #email-name{
    margin-left: 6px;
    color: #161212;
    text-decoration: dashed;
  }
  .apnmt{
    display: flex;
  }
  .square3{
    background-color: #fffff1;
      width: 240px;
      height: 200px;
      border-radius: 20%;
      margin-left: 200px;
      margin-top: 40px;
      margin-bottom: 90px;
      padding-bottom: 90px;
  }
  .loaction{
    width: 30%;
    color: #161212;
    margin-top: 40px;
    margin-left: 90px;
    
    
  }
  #location{
    margin-left: 40px;
    text-decoration: dashed;
    color: #161212;
  }
  .card-text-none{
    margin-bottom: 40px;
  }
  #email-name:hover{
    color: #00871fbc;
  }
  #square1:hover{
    background-color: #dcedff;
  }
  .square3:hover{
    background-color: #dcedff;
  }
  .courses{
    display: flex;
  }
  .upevnt{
    display: flex;
    box-sizing: border-box;
  }
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #18004c, #053600);
    color: #ffffff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 12px;
    line-height: 20px;
    
}
.row9{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col9{
    flex-basis: 25%;
    padding: 10px;
    font-size: 15px;
}
.col9:nth-child(2), .col9:nth-child(3){
  flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}.email-id{
    width: fit-content;
    border-bottom: 1px solid #0093b4;
    margin: 20px 0;

}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    color: #fff;
    text-decoration: none;
}
form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form .fa-regular{
  font-size: 18px;
  margin-right: 10px;
}
form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
form button .fa-solid{
  font-size: 16px;
  color: #ccc;
}
.social-icons .fa-brands{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright{
  text-align: center;

}
